@charset "UTF-8";

@media screen and (min-width: 480px){ /*PC用*/
    
body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.5;
}

/* section */
.section-wrap {
    padding: 80px 0;
}

.section-inner {
    width: 960px;
    margin: 0 auto;
}

.section-ttl {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

/* fadeUp */

.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
      transform: translateY(100px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }
    
    
    /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
     
    .section-ttl {
        opacity: 0;
    }
    

.section-ttl.__profile::before {
    content: "自己紹介";
    font-size: 13px;
    color: #000;
    position: absolute;
    bottom: 100%;
    left: 5%;
}

.section-ttl.__dream::before {
    content: "私の夢";
    font-size: 13px;
    color: #000;
    position: absolute;
    bottom: 100%;
    left: 5%;
}

.section-ttl.__hobby::before {
    content: "私の趣味";
    font-size: 13px;
    color: #000;
    position: absolute;
    bottom: 100%;
    left: 5%;
}

.section-inner-s {
    display: flex;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color: #20b2aa;
    padding: 10px 50px;
}
.header-nav-list, .icon-list {
    display: flex;
}

.header-nav-item + .header-nav-item {
    margin-left: 13px;
}

.icon-item + .icon-item {
    margin-left: 13px;
}
.icon-item {
    width: 40px;
}


/* home */
.section-s {
    text-align: center;
    margin-top: 100px;
}
.home-name {
    font-weight: bold;
    font-size: 64px;
}
.section-s p {
    font-size: 24px;
}

/* profile */
.profile-icon {
    width: 150px;
    margin-right: 40px;
}

.profile-item + .profile-item{
    margin-top: 10px;
}
.text-sub {
    margin-left: 15px;
}

/* dream */
.section-dream {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.section-dream:nth-child(even){
    flex-direction: row-reverse;
}
.dream-img {
    min-width: 250px;
}

/* Hobby */
.hobby-list {
    display: flex;
    justify-content: space-between;
}
.hobby-item {
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 1rem 2rem 1rem 4rem;
    color: #000;
    border-radius: 100vh 0 0 100vh;
    background: #20b2aa;
}
.hobby-item::before {
    position: absolute;
    top: calc(50% - 7px);
    left: 10px;
    width: 14px;
    height: 14px;
    content: '';
    border-radius: 50%;
    background: #fff;
}
.hobby-txt {
    margin-top: 20px;
}

}
